.jumbotron{
  background-color: deeppink;
  color: white;
}

.card-header {
  background-color: dodgerblue;
  color: white;
}

.card-body {
  background-color: rgba(0,0,0,.03);
}

.card{
  min-width: fit-content;
  max-width: 25vw; /* Max three cards per row */
}

@media (max-width: 1200px) {
  .card {
    max-width: 33vw; /* Max three cards per row */
  }
}

@media (max-width: 992px) {
  .card {
    max-width: 50vw; /* Two cards per row on medium screens */
  }
}
@media (max-width: 576px) {
  .card{
    max-width: 100vw; /* One card per row on small screen */
  }
}